<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Empleado CRUD</title>
</head>

<body>
            <h1 th:text="${tituloListado}">Título listado</h1>
            
            <div th:if="${msg}" style="color: green; font-weight: bold;">
                <p th:text="${msg}"></p>
            </div>
            <table>
                <thead><tr>
                    <th>IBAN</th>
                    <th>Nombre</th>
                    <th>Saldo</th>
                    <th>Acciones</th></tr>
                </thead>
                <tbody>
                    <tr th:each="cuenta : ${listaCuentas}">
                        <td th:text="${cuenta.IBAN}">IBAN</td>
                        <td><a th:href="@{/{id}(id=${cuenta.IBAN})}" th:text="${cuenta.nombre}">nombre</a></td>
                        <td th:text="${cuenta.saldo}">saldo</td>
                        <td><a th:href="@{/movimientos/{iban}(iban=${cuenta.IBAN})}">Movimientos</a></td>
                    </tr>
                </tbody>
            </table>
            <form method="get" th:action="@{/nuevo}">
                <label>Nueva Cuenta:</label>
                <button type="submit">Añadir</button>
            </form>
            <form method="get" th:action="@{/movimientos/nuevo}">
                <label>Nuevo movimiento global:</label>
                <button type="submit">Añadir</button>
            </form>
            <br>
            <a th:href="@{/}">Inicio</a><br />
</body>

</html>