<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cuenta CRUD</title>
  </head>
  <body>
    <h1>Editar cuenta</h1>
    <form method="post" action="#" 
            th:action="@{/editar/{id}/submit(id=${cuentaDTO.IBAN})}" 
            th:object="${cuentaDTO}">
            <label>IBAN:<input type="text" readonly id="iban" th:field="*{IBAN}" /></label><br/>
            <label>Nombre:<input type="text" id="nombre" th:field="*{nombre}" /></label><br/>
            <input type="submit" value="Guardar" />    
            <a th:href="@{/}">Inicio</a>
    </form>
    
  </body>
</html>